
<html lang="zxx">

<head>
    <title>Login Page</title>

</head>

<body>
    <h1 class="title-agile text-center">Login Here</h1>
    <div class="content-w3ls" style="margin-top: 80px">
        <div class="agileits-grid">

            <div class="content-top-agile" style="margin-top: 50px">
                <h2>Login</h2>
            </div>
            <div class="content-bottom" >
                <form action="/signup_post" method="post">
				<i class="fab fa-centercode"></i>
                    <div class="field_w3ls">
                        <div class="field-group">
                            <input name="textfield" id="text1" type="text" value="" placeholder="Name" required>
                        </div>
                        <div class="field-group">
                            <input name="textfield1" id="text1" type="date" value="" placeholder="Dob" required>
                        </div>
                        <div class="field-group">
                            <input name="textfield2" id="text1" type="text" value="" placeholder="Place" required>
                        </div>
                        <div class="field-group">
                            <input name="textfield3" id="text1" type="number" value="" placeholder="Phone" required>
                        </div>
                        <div class="field-group">
                            <input name="textfield4" id="text1" type="email" value="" placeholder="Email" required>
                        </div>
                      
                        <div class="field-group">
                            <input name="textfield5" id="email" type="password" value="" placeholder="Passsword" required>
                        </div>

                    </div>
                    <div class="wthree-field">
                        <input id="saveForm" name="saveForm" type="submit" value="Login" />
                    </div>
			    </form>
            </div>
            <!-- //content bottom -->
        </div>
    </div>
    <div class="copyright text-center">

    </div>

    <!-- /script for show password -->

</body>
<!-- //Body -->

</html>